<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>gtrans.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Google Translate</string>
				<key>ko</key>
				<string>Google 번역</string>
			</dict>
			<key>URL</key>
			<string>https://translate.google.com/?sl=auto&amp;tl=ko&amp;text={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://translate.google.com/</string>
			<key>Name</key>
			<string>Google Translate</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Google Translate</string>
		<key>ko</key>
		<string>Google 번역</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.darkbrow.popclip.extension.googletranslate</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Google Translate</string>
		<key>ko</key>
		<string>Google 번역</string>
	</dict>
</dict>
</plist>
