<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Service Name</key>
			<string>Add to Dropover</string>
			<key>Title</key>
			<string>Dropover</string>
			<key>Image File</key>
			<string>AppIcon.png</string>
			<key>Pass HTML</key>
			<true/>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>me.damir.dropover-mac</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://dropoverapp.com</string>
			<key>Name</key>
			<string>Dropover</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Send the selected text to Dropover.</string>
	<key>Extension Identifier</key>
	<string>com.darkbrow.popclip.extension.dropover</string>
	<key>Extension Name</key>
	<string>Dropover</string>
	<key>Required Software Version</key>
	<string>701</string>
</dict>
</plist>
